<section class="about-info section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md "></span>Mission</h3>
                    <p>To alleviate poverty and promote integral development through the motivation and
                        empowerment of the less privilege/oppressed and challenging unjust structures that
                        enhances injustice, hatred and backwardness in Nigeria.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md"></span>Vission</h3>
                    <p>A peaceful and developed society where there is peaceful co-existence and promotion of
                        human rights and Empowerment of the people for meaningful living.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md"></span>Focus Group</h3>
                    <p>
                    <ul>
                        <li>The Rural Populace</li>
                        <li>The Economically Deprived</li>
                        <li>Families, Unemployed Youths, Women and Widows Living Amongst the Poorest of the Poor
                            in the Society</li>
                        <li>Inmates in Prison and Ex-inmates</li>
                        <li>People Stigmatized with Deadly Disease</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md"></span>Core Value</h3>
                    <p>
                    <ul>
                        <li>Integrity</li>
                        <li>Accountability</li>
                        <li>Transparency</li>
                        <li>Excellence</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>