{% load static %}

<!-- Section About Start -->
<section id="about" class="section about-2 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about-item pr-3 mb-5 mb-lg-0">
          <span class="h6 text-color">Who we are</span>
          <h2 class="mt-3 mb-4 position-relative content-title">A Catholic Non-Profit making and
            Humanitarian Organization.</h2>
          <p class="mb-5">Uromi JDPCI is a Faith-based Non-Governmental Organization borne out of the
            Catholic Diocese of Uromi with a mandate to promote Justice and Peace, encourage
            meaningful development and to provide succor for the less privileged. Our activities
            cover the geographical area of the Catholic Diocese of Uromi which comprises the 5 Local
            Government Areas in Edo Central Senatorial district.</p>

          <a href="#" target="_blank" class="btn btn-main btn-round-full">More About Us</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about-item-img">
          <img src="{% static 'images/NGO.png' %} " alt="" style="height: 250px;" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section About End -->