{% load static %}

<!--Section: About-->
<section id="about" class="pt-4 mb-2">

    <!--Secion heading-->
    <h2 class="text-center my-5 font-weight-bold wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">About Us</h2>

    <div class="container">
        <!--First row-->
        <div class="row">

          <!--First column-->
          <div class="col-lg-5 col-md-12 mb-5 pb-4 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
            <!--Image-->
            <img src="{% static 'img/carausel.jpeg' %} " class="img-fluid z-depth-1 rounded" alt="My photo">

          </div>
          <!--First column-->

          <!--Second column-->
          <div class="col-lg-6 dark-grey-text ml-lg-auto col-md-12 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

            <!--Description-->
            <p class="card-text text-center">Uromi JDPCI is a Faith-based Non-Governmental Organization borne out of the Catholic Diocese of Uromi with a mandate to promote Justice and Peace,
              encourage meaningful development and to provide succor for the less privileged. Our activities cover the geographical area of the Catholic Diocese of Uromi which
              comprises the 5 Local Government Areas in Edo Central Senatorial district.
            </p>

            <h3 class="text-center">Project Steered</h3>

            <p class="card-text text-center">Conflict Management, Training of Electorate, ElectionObservation, Budget Monitoring, Community TB care, HIV/AIDS Awareness Creation & Counseling,
              Micro-Credit Facility, Rural Community Development Enlightenment Campaign, Prisoners' Welfare Service, Gender And Child Rights, Widowhood Association, Human Rights,
              Training Programmes for Poilice Officers and Youths, Women Development & Promotion through Micro Credit, Emergency Response, Legal Aid, OVC Programming, Capaigns and
              Sensitizations Against Human Traficking as well as Creating Alternatives to Human Traficking through Vocational Skills Acquisition and Empowerment</p>

          </div>
          <!--Second column-->

        </div>
        <!--First row-->
    </div>
  </section>
  <!--Section: About-->