<section class="contact-form-wrap section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                 <form id="contact-form" class="contact__form"  action="/success">
                 <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>
                    <!-- end message -->
                    <span class="text-color">Send a message</span>
                    <h3 class="text-md mb-4">Contact Form</h3>
                    <div class="form-group">
                        <input name="name" type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="message" class="form-control" rows="4" placeholder="Your Message"></textarea>
                    </div> 
                    {% csrf_token %}
                    <button class="btn btn-main" name="submit" type="submit">Send Message</button>
                </form>
            </div>

            <div class="col-lg-5 col-sm-12">
                <div class="contact-content pl-lg-5 mt-5 mt-lg-0">
                    <span class="text-muted">Uromi JDPCI</span>
                    <h2 class="mb-5 mt-2">Don’t Hesitate to contact with us for any kind of information</h2>

                    <ul class="address-block list-unstyled">
                        <li>
                            <div class='row'>
                                <div class='col-1'>
                                    <i class="ti-direction mr-3"></i>
                                </div>
                                <div class='col-11'>
                                    <i class="fs-6 ml-0">Diocesan Chancery, Catholic Chancery Complex, 311106, Uromi</i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="ti-email mr-3"></i>Email: info@uromijdpci.org
                        </li>
                        <li>
                            <i class="ti-mobile mr-3"></i>Phone: +234 803 285 4955 
                        </li>
                    </ul>

                    <ul class="social-icons list-inline mt-5">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/Uromijdpci/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://twitter.com/uromijdpci/"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com/uromijdpci/"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>