<!-- section Counter Start -->
<section class="section counter bg-counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mb-5 mb-lg-0">
                    <i class="ti-check color-one text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">15</span> +
                    </h3>
                    <p class="text-white-50">Projects Done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mb-5 mb-lg-0">
                    <i class="ti-flag color-one text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">125 </span>th +
                    </h3>
                    <p class="text-white-50">Beneficiaries Worldwide</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center mb-5 mb-lg-0">
                    <i class="ti-layers color-one text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">5</span></h3>
                    <p class="text-white-50">LGAs Covered</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-item text-center">
                    <i class="ti-medall color-one  text-md"></i>
                    <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">5</span></h3>
                    <p class="text-white-50">Awards</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section Counter End  -->