<!-- Section Cta Start -->
<section class="section cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cta-item  bg-white p-5 rounded">
                    <span class="h6 text-color">support our Interventions</span>
                    <h2 class="mt-2 mb-4">We Render numerous Humanitarian services.</h2>
                    <p class="lead mb-4">Have anything in mind? to support us:</p>
                    <button class="btn bg-danger rounded-pill text-white py-3">Donate Us</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Section Cta End-->