<!-- Section Cta Start -->
<section class="section cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cta-item  bg-white p-5 rounded">
                    <span class="h6 text-color">Partner with us</span>
                    <h2 class="mt-2 mb-4">Entrust Your Project/interventions to Our Team of Professionals</h2>
                    <p class="lead mb-4">Have any project on mind? For immidiate support :</p>
                    <h3><i class="ti-mobile mr-3 text-color"></i>+23480 3285 4955</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Section Cta End-->