{% load static %}

<!--Footer-->
<footer id="contact" class="page-footer text-md-left mdb-color darken-3">
  
    <!--Footer Links-->
    <div class="container-fluid">

      <!--First row-->
      <div class="row " data-wow-delay="0.2s">

        <!--First column-->
        <div class="col-md-12 text-center mb-3 mt-3">

          <!--Icon-->
          <i class="fas fa-users fa-4x orange-text"></i>
          <!--Title-->
          <h2 class="mt-3 mb-3">Who We Are</h2>
          <!--Description-->
          <p class="white-text mb-5 align-center mx-5">A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace  & provide succor for the less privileged.</p>
          <!--Reservation button-->
          <a href="#projects" class="btn btn-warning waves-effect waves-light rounded-pill">Projects</a>
          <a href="#contacts" class="btn btn-info waves-effect waves-light rounded-pill">Contact</a>

        </div>
        <!--First column-->

        <hr class="w-100 mt-4 mb-5">

      </div>
      <!--First row-->

      <div class="container mb-1">

        <!--Second row-->
        <div class="row">

          <!--First column-->
          <div style="text-align: center;" class="col-xl-4 col-lg-4 pt-1 pb-1">
            <!--About-->
            <h5 class="text-uppercase mb-3 font-weight-bold">ABOUT UROMI JDPCI</h5>

            <p>A Catholic Non-governmental, Non-Profit making, Humanitarian and Development Organization.</p>

            <p>Conflict Management, Training of Electorate, Election Observation, Budget Monitoring, Community TB care,HIV/AIDS Awareness Creation & Counseling, Micro-Credit Facility, Rural Community Development Enlightenment Campaign, Prisoners' Welfare Service, Gender And Child Rights, Widowhood Association, Human Rights, Training Programmes for Poilice Officers and Youths, Women Development & Promotion through Micro Credit, Emergency Response, Legal Aid, OVC Programming, Capaigns and Sensitizations Against Human Traficking as well as Creating Alternatives to Human Traficking through Vocational Skills Acquisition and Empowerment</p>
            <!--About-->

            <div class="footer-socials mt-4">

              <!--Facebook-->
              <a type="button" class="btn-floating btn-white  waves-effect waves-light" href="https://www.facebook.com/www.uromijdpci.org.ng/">
                <i style="color:  #3b5998;" class="fab fa-facebook-f m-3"></i>
              </a>
              <!--Dribbble-->
              <a type="button" class="btn-floating btn-white  waves-effect waves-light">
                <i style="color: #ea4c89;" class="fab fa-dribbble m-3"></i>
              </a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-white  waves-effect waves-light" href="https://twitter.com/uromijdpci">
                <i style="color:  #1DA1F2 ;" class="fab fa-twitter m-3"></i>
              </a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-white  waves-effect waves-light">
                <i style="color:  #4285F4;" class="fab fa-google-plus-g m-3"></i>
              </a>

            </div>
          </div>
          <!--First column-->

          <hr class="w-100 clearfix d-lg-none">

          <!--Second column-->
          <div class="col-xl-5 ml-lg-auto col-lg-4 col-md-6 ml-0">
            <!--Search-->
            <h5 class="text-uppercase mb-3 font-weight-bold">Search something ?</h5>

            <ul class="footer-search list-unstyled">
              <li>
                <form class="search-form" role="search">
                  <div class="md-form">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                </form>
              </li>Catholic Chancery Complex, Uromi Diocesan Chancery, Egbele, Uromi, Edo State, Nigeria.</p>
            <p><i style="color:  #EA4335;" class="fas fa-envelope pr-1"></i> uromijdpci@gmail.com</p>
            <p><i style="color:  #bcbcbc ;" class="fas fa-phone pr-1"></i> +234 805 332 8588</p>
            <p><i style="color:  #bcbcbc ;" class="fas fa-phone pr-1"></i> +234 803 493 0414</p>
            <p><i style="color:  #bcbcbc ;" class="fas fa-phone pr-1"></i> +234 803 871 5621</p>
            <p><i style="color:  #bcbcbc ;" class="fas fa-phone pr-1"></i> +234 807 339 8259</p>
            <p><i style="color:  #1DA1F2 ;" class="fab fa-twitter pr-1"></i> @Uromijdpci</p>
            <p><i style="color: #fb3958;" class="fab fa-instagram pr-1"></i> @Uromijdpci</p>
            <!-- <p><i style="color:  #3b5998;" class="fab fa-facebook-f"></i> https://www.facebook.com/www.uromijdpci.org.ng/</p>  -->

          </div>
          <!--Second column-->

          <hr class="w-100 clearfix d-md-none">

          <!--Third column-->
          <!-- <div class="col-xl-3 ml-lg-auto col-lg-4 col-md-6 m-0"> -->
            <!--Contact-->
            <!-- <h5 class="text-uppercase mb-3 font-weight-bold">Recent Projects</h5>

            <ul class="footer-posts list-unstyled">
              <li>
                <a>Ut enim ad minim veniam nostrud.</a>
                <span>
                  <p class="grey-text">28 july 2016</p>
                </span>
              </li>
              <li>
                <a>Duis aute dolor in reprehenderit.</a>
                <span>
                  <p class="grey-text">27 july 2016</p>
                </span>
              </li>
              <li>
                <a>Excepteur sint occaecat cupidatat.</a>
                <span>
                  <p class="grey-text">26 july 2016</p>
                </span>
              </li>
              <li>
                <a>Sed perspiciatis unde omnis iste.</a>
                <span>
                  <p class="grey-text">25 july 2016</p>
                </span>
              </li>
            </ul>

          </div> -->
          <!--Third column-->

        </div>
        <!--Second row-->

      </div>

    </div>
    <!--Footer Links-->

    {% include 'web/copyright.html' %}

  </footer>
  <!--Footer-->