

<!-- footer Start -->
<footer id="contact" class="footer section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Uromi JDPCI</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li>
                            <p>Catholic Chancery Complex, Uromi Diocesan Chancery, Egbele, Uromi, Edo State,
                                Nigeria.</p>
                        </li>
                        <li>
                            <p>info@uromijdpci.org</p>
                        </li>
                        <li>
                            <p>+234 803 285 4955 </p>
                        </li>
                        <li>
                            <p>+234 805 332 8588</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Quick Links</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Subscribe Us</h4>
                    <p>Subscribe to get latest news article and resources </p>

                    <form action="#" class="sub-form">
                        <input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
                        <a href="#" target="_blank" class="btn btn-main btn-small">subscribe</a>
                    </form>
                </div>
            </div>
        </div>


    </div>

</footer>