{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="UromiJDPCI: A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="UromiJDPCI: A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged." />
    <meta property="og:description" content="A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged." />
    <meta property="og:url" content="http://localhost/" />
    <meta property="og:site_name" content="UromiJDPCI: A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged." />
    <meta name="UromiJDPCI:card" content="summary_large_image" />
    <meta name="UromiJDPCI:title" content="UromiJDPCI: A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged." />
    <meta name="Very Rev. Fr. Fidelis Arhedo:title" content="Fidelis Arhedo: Executive Director Uromi JDPCI" />
    <meta name="UromiJDPCI:description" content="UromiJDPCI: A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged." />
    <meta name="UromiJDPCI:image" content="http://localhost/static/img/logo2.png" />
    <meta name="theme-color" content="#ee5b3e" />
    <title>Uromi JDPCI</title>
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Nunito&family=Nunito+Sans&family=Quattrocento&family=Quattrocento+Sans&family=Roboto&family=Roboto+Mono&family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" href="{% static 'img/logo2.png' %}" type="image/png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Nunito&family=Nunito+Sans&family=Quattrocento&family=Quattrocento+Sans&family=Roboto&family=Roboto+Mono&family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <script type="application/ld+json">
        {
            "@context": "https://uromijdpci.org",
            "@type": "WebSite",
            "url": "http://localhost/",
            "name": "UromiJDPCI: A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged.",
            "potentialAction": { "@type": "SearchAction", "target": "http://localhost/search/{search_term_string}/", "query-input": "required name=search_term_string" }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://uromijdpci.org",
            "@type": "Organization",
            "url": "http://localhost/",
            "name": "UromiJDPCI: A Faith-based NGO borne out of the Catholic Diocese of Uromi with a mandate to promote Justice, development, Peace & provide succor for the less privileged.",
            "logo": "http://localhost/static/img/logo2.png"
        }
    </script>




  </head>