{% extends 'web/base.html' %}
{% load static %}


{% block content %}

    <!--Navigation & Intro-->
    <header class="navigation">

      {% include 'web/top-head.html' %}
      {% include 'web/navbar.html' %}

    </header>
    <!--Navigation & Intro-->

    <!--Main content-->
    <div class="main-wrapper ">

      {% include 'web/title.html' %}
      {% include 'web/about.html' %}
      {% include 'web/about-info.html' %}
      {% include 'web/counter.html' %}
      {% include 'web/projects.html' %}
      {% include 'web/cta.html' %}
      {% include 'web/team.html' %}
      {% include 'web/blog.html' %}
      {% include 'web/streak.html' %}
      {% include 'web/contact.html' %}
      {% include 'web/map.html' %}
      {% include 'web/copyright.html' %}

    </div>
{% endblock content %}