{% extends 'web/base.html' %}
{% load static %}


{% block content %}

    <!--Navigation & Intro-->
    <header>

      {% include 'web/navbar.html' %}


      {% include 'web/intro_section.html' %}


    </header>
    <!--Navigation & Intro-->

    <!--Main content-->
    <main style="background: white;">

      <div class="container">

        {% include 'web/about.html' %}

        <hr>

        {% include 'web/goals.html' %}

      </div>

      <hr>

      {% include 'web/projects.html' %}

      <hr>

      {% include 'web/streak.html' %}

      <hr>
      {% include 'web/message_us.html' %}

      <hr>

      {% include 'web/team.html' %}

    </main>
    <!--Main content-->

    {% include 'web/footer.html' %}
{% endblock content %}