{% extends 'web/base.html' %}
{% load static %}


{% block content %}
<body class="university-lp">

    <!--Navigation & Intro-->
    <header>

      {% include 'web/navbar.html' %}
  
      {% include 'web/intro_section.html' %}
  
  
    </header>
    <!--Navigation & Intro-->
  
    <!--Main content-->
    <main>
  
      <div class="container">

        {% include 'web/about.html' %}
  
        <hr>
  
        {% include 'web/goals.html' %}
  
      </div>
  
      {% include 'web/streak.html' %}
  
      {% include 'web/projects.html' %}
  
      {% include 'web/team.html' %}

      <hr>

      {% include 'web/message_us.html' %}  
  
    </main>
    <!--Main content-->
  
    {% include 'web/footer.html' %}
</body>
{% endblock content %}