{% load static %}

<!-- Intro Section -->
<section class="sec1">
  <div id="home" class="view jarallax" data-jarallax="{&quot;speed&quot;: 0.2}" style="background-image: url('{% static 'img/carausel.jpeg' %} '); background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 0;" data-jarallax-original-styles="background-image: url(&#39;https://mdbootstrap.com/img/Photos/Others/images/67.jpg&#39;); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-strong">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row smooth-scroll">
          <div class="col-md-12 text-center text-white">
            <div class="wow fadeInDown" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.2s;">
              <h2 style="color:#A2A2A1FF;" class="display-3 fs-2 font-weight-bold mb-2">UROMI JUSTICE DEVELOPMENT
                PEACE AND CARITAS INITIATIVES</h2>
              <hr class="hr-is">
              <h3 style="color:#A2A2A1FF;" class="subtext-header mt-4 mb-5">Hope for the Oppressed and Empowerment for All.</h3>
            </div>
            <a href="#projects" style="color: #A2A2A1FF !important; background-color: #195190FF !important;" data-offset="100" class="btn btn-first wow fadeInLeft waves-effect waves-light rounded-pill" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.2s;">Projects</a>
            <a href="#about" style="color: #195190FF !important; background-color: #A2A2A1FF !important;" data-offset="100" class="btn btn-secd wow fadeInRight waves-effect waves-light rounded-pill" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInRight; animation-delay: 0.2s;">About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>