<!-- contact form start -->
<div class="container-flow">
    <div class="google-map">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="1080" height="406" id="gmap_canvas" src="https://maps.google.com/maps?q=Diocesan%20Chancery,%20Catholic%20Chancery%20Complex,%20311106,%20Uromi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://putlocker-is.org"></a><br>
                <style>
                    .mapouter{
                        position:relative;
                        text-align:right;
                        height:406px;
                        width:1080px;
                    }
                </style>
                <a href="https://www.embedgooglemap.net">create google maps for website</a>
                <style>
                    .gmap_canvas {
                        overflow:hidden;
                        background:none!important;
                        height:406px;
                        width:1080px;
                    }
                </style>
            </div>
        </div>
    </div>
</div>


        