{% load static %}

<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar top-nav-collapse">
    <div class="container-fluid ml-2">
      <a href="/">
        <img src="{% static 'img/logo2.png' %} " alt="">
      </a>
      <a class="navbar-brand" href="/">
        <strong class="d-lg-none ml-4">UROMI JDPCI</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-right" id="navbarSupportedContent">
        <!--Links-->
        <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/" data-offset="100">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/" data-offset="100">Goal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/" data-offset="100">Projects</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="#events" data-offset="100">Events</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/" data-offset="100">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" data-toggle="modal" href="/" data-target="#modal-contact">Contact</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'proj_new' %}">NewProject</a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>

        <!--Social Icons-->
        <ul class="navbar-nav nav-flex-icons ml-5 p-0">
          <li class="me-4 nav-item">
            <a class="nav-link waves-effect waves-light" href="https://www.facebook.com/www.uromijdpci.org.ng/">
              <i style="color: #3b5998;" class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="me-4 nav-item">
            <a class="nav-link waves-effect waves-light" href="https://twitter.com/uromijdpci">
              <i style="color: #00acee;" class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="me-4 nav-item">
            <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/uromijdpci/">
              <i style="color: #fb3958;" class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Navbar-->