{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="bg-others m-0">
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'img/logo2.png' %}" alt="">
        </div>
        <div class="text-center">
            <h1 class="py-4">Delete post</h1>
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete <strong class="font-weight-bold"> "{{ project.title }}"?</strong></p>
                <div class="row">
                    <div class="col-6">
                        <a href="/" class="btn mt-3 px-0">No</a>
                    </div>
                    <div class="col-6">
                        <button class="btn mt-3 p-0" type="submit">Yes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

