{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="m-0">
    <div class="wrapper2">

        <div class="align-items-center mx-auto">
            <h1 class="text-center edit_header">Edit Project</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <button style="background-image: url('{% static 'img/blue-bg.jpg' %} '); background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 0;" class="btn btn-block fa-lg gradient-custom-2 mdb-color darken-3 text-white" type="submit">Submit &raquo;</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

