<!--  Section Project Start -->
<section id="project" class="section service border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <span class="h6 text-color">Our project</span>
                    <h2 class="mt-3 content-title ">We provide a wide range of Humanitarian services </h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5">
                    <i class="ti-anchor"></i>
                    <h4 class="mb-3">GATIP Response Cluster</h4>
                    <p>Galvanize Action For Effective Trafficking In Persons Response At The Local Government
                        Level In Edo State.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5">
                    <i class="ti-agenda"></i>
                    <h4 class="mb-3">Good Governance Programme</h4>
                    <p>Community Mobilization and Engagement For Transparency, Accountability And Sustainable
                        Governance In Edo Central Senatorial Distrcit.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5">
                    <i class="ti-announcement"></i>
                    <h4 class="mb-3">Human Rights Scheme</h4>
                    <p>Human Rights Education and Paralegal Scheme.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5 mb-lg-0">
                    <i class="ti-heart"></i>
                    <h4 class="mb-3">ICHSSA 2 Project.</h4>
                    <p>Integrated Child Health and Social Service Award ICHSSA 2 Project.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5 mb-lg-0">
                    <i class="ti-desktop"></i>
                    <h4 class="mb-3">Don't Pay With Your Life</h4>
                    <p>To end trafficking in human beings and more specifically protecting young women from Edo
                        State from human trafficking and exploitation among school girls.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5 mb-lg-0">
                    <i class="ti-anchor"></i>
                    <h4 class="mb-3">SCOPPH-T Project</h4>
                    <p>Strenghtening Community Participation to Prevent Human Trafficking (SCOPPH-T) Project.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5 mb-lg-0">
                    <i class="ti-target"></i>
                    <h4 class="mb-3">SMATIP Project</h4>
                    <p>Sustainable Measure Against Trafficking in Persons.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-5 mb-lg-0">
                    <i class="ti-money"></i>
                    <h4 class="mb-3">Micro Credit</h4>
                    <p>To improve the economic stability of women especially widows and Farmers in Edo Central
                        Senatorial District.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- <div class="service-item mb-5 mb-lg-0">
                <i class="ti-pencil-alt"></i>
                <h4 class="mb-3">Micro Credit</h4>
                <p>To improve the economic stability of women especially widows and Farmers in Edo Central Senatorial District.</p>
            </div> -->
            </div>
        </div>
    </div>
</section>
<!--  Section Project End -->