{% load static %}

<!--Streak-->
<div class="streak streak-photo streak-md" style="background-image: url(&#39;https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg&#39;);">
    <div class="flex-center mask rgba-indigo-strong">
      <div class="text-center white-text">
        <h2 class="h2-responsive mb-5">
          <i class="fas fa-quote-left" aria-hidden="true"></i> Hope for the Oppressed and Empowerment for All.
          <i class="fas fa-quote-right" aria-hidden="true"></i>
        </h2>
        <h5 style="color: rgb(34, 194, 114);" class="text-center font-italic " data-wow-delay="0.2s">~ Uromi JDPCI ~</h5>
      </div>
    </div>
  </div>
  <!--Streak-->