{% load static %}

<div class="container">
  
    <section id="team" class="mb-5">

      <!--Section heading-->
      <h2 class="text-center mb-5 my-5 pt-5 pb-4 font-weight-bold wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Team of Experts</h2>

      <div class="column">

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel testimonial-carousel slide carousel-multi-item wow fadeIn" data-ride="carousel" style="visibility: visible; animation-name: fadeIn;">

          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating light-blue darken-4 waves-effect waves-light" href="#multi-item-example" data-slide="prev">
              <i class="text-white fa fa-chevron-left m-3" aria-hidden="true"></i>
            </a>
            <a class="btn-floating light-blue darken-4 waves-effect waves-light" href="#multi-item-example" data-slide="next">
              <i class="text-white fas fa-chevron-right m-3"></i>
            </a>
          </div>
          <!--Controls-->

          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="light-blue darken-4 active"></li>
            <li data-target="#multi-item-example" data-slide-to="1" class="light-blue darken-4"></li>
            <li data-target="#multi-item-example" data-slide-to="2" class="light-blue darken-4"></li>
            <li data-target="#multi-item-example" data-slide-to="3" class="light-blue darken-4"></li>
            <li data-target="#multi-item-example" data-slide-to="4" class="light-blue darken-4"></li>
            <li data-target="#multi-item-example" data-slide-to="5" class="light-blue darken-4"></li>
            <li data-target="#multi-item-example" data-slide-to="6" class="light-blue darken-4"></li>
          </ol>
          <!--Indicators-->

          <!--Slides-->
          <div class="carousel-inner text-center d-flex" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
              <!--Grid column-->
              <div class="col-md-4">

                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/fr. Fiddelis.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Very Rev. Fr. Dr. Fidelis Arhedo</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>  Executive Director/Gender Focal Person (GFP)
                 
                  </p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star-half-alt"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix ">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/ass_priest.jpeg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Rev. Fr. Ferguson Ikhuemosa Ukpebor </h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Assistant Executive Director</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix ">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Mr. Mike.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Mr. Iyoriobhe Michael</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Director of Programs (DOP)</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--First slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Harriet.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Erhabor Harriet</h4>

                  <p>
                    <i class="fas fa-quote-left"></i> HR Officer/Program Manager</p>

                  <!--Review-->
                  <div class="grey-text mb-3s">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">

                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Mr. John acc.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Akporowhe John</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Finance Manager</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star-half-alt"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Mrs. Theresa.jpeg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Theresa Odion</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Prison/Legal Officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Second slide-->

            <!--Third slide-->
            <div class="carousel-item">

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Mr_Godfrey.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Inegbenehi Godfrey</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Finance/ Anti Human Trafficking Officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Christabel.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Ogbeide Christabel</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Office Assistant/Store Keeper
                  </p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">

                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Joseph.jpeg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Arhedo Joseph</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Finance Officer (Micro credit) </p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->
            </div>
            <!-- Third slide -->

            <!--Fourth slide-->
            <div class="carousel-item">
              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/img (10).jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Agbonmwanre Maxwell</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Finance Officer (PROMIC II)
                  </p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star-half-alt"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Bridget.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Enearu Bridget </h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Anti-Human Trafficking Officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Agatha.jpeg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Aletor  Agatha	</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Legal Officer (Human Right) / Assistant Gender Focal Person</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Forth slide-->

            <!--Fift slide-->
            <div class="carousel-item">
              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/img (1).jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Okodugha Louisa </h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Health Officer/Vocational skill officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Mr. Okosun.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Okosun John </h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Monitoring and Evaluation Officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Leonny.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Jiokong Leonny</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Program Manager –ICHSSA 2 Project</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Fift slide-->

            <!--Sixth slide-->
            <div class="carousel-item">
              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Prince.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Prince Chukwuemeka M.</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>ICT / Communication Officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Gabriel.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Ijenoza Gabriel</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Program Officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Efua.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Osehefua Eromokhodion</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Data Entry Clerk- ICHSSA 2 project</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Sixth slide-->

            <!--Seventh slide-->
            <div class="carousel-item">
              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Austin.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Augustine Ebhohimen</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>logistic Officer</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 clearfix">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto mb-4">
                    <img src="{% static 'img/Godfry.jpg' %} " class="rounded-circle img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="font-weight-bold p-0">Elolen Godfrey</h4>

                  <p>
                    <i class="fas fa-quote-left"></i>Industrial Trainee</p>

                  <!--Review-->
                  <div class="grey-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Seventh slide-->

            

          </div>
          <!--Slides-->
          

          
        </div>
        <!--Carousel Wrapper-->

      </div>

    </section>

  </div>