<section class="page-title bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Welcome to</span>
                    <h1 class="text-capitalize mb-4 text-lg">Uromi Justice <br> Development Peace and Caritas
                        Initiative.</h1>
                    <a href="#" target="_blank" class="text-white-50">Hope for the Oppressed and Empowerment for
                        All.</a></li>
                </div>
            </div>
        </div>
    </div>
</section>