{% extends "web/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock %}
{% block content %}
{% load widget_tweaks %}

<div class="bg-others m-0">
  <div class="wrapper">
    <div class="logo">
        <img src="{% static 'img/logo2.png' %}" alt="">
    </div>
    <div class="text-center mt-4 name">Uromi JDPCI</div>
    <form class="p-3 mt-3 " method="POST" action="{% url 'account_login' %}">
      {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          {{ form.login|attr:"type:text"|attr:"placeholder:Username"|attr:"name:userName"|attr:"id:userName" }}
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        {{ form.password|attr:"type:password"|attr:"placeholder:Password"|attr:"name:password"|attr:"id:pwd" }}
      </div>
      {% csrf_token %}
      <button class="btn mdb-color darken-3 mt-3" type="submit">{% trans "Sign In" %}</button>
    </form>
    <div class="text-center fs-6">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> or <a href="{{ signup_url }}">Signup</a>
    </div>
  </div>
</div>
{% endblock %}
