{% extends "web/base.html" %} 
{% load i18n %} 
{% load account socialaccount %} 
{% load crispy_forms_tags %} 
{% load static %} 

{% block head_title %}
    {% trans "Sign In" %}
{% endblock %} 
{% block content %}

<div class="bg-others m-0">
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'img/logo2.png' %}" alt="">
        </div>

        <div class="signout p-5">

            <div class="text-center">

                <p>{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <a href="/" class="btn mt-3 px-0">No</a>
                        </div>
                        <div class="col-6">
                            <button class="btn mt-3 p-0" type="submit">Yes</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}