{% extends "web/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock %}
{% block content %}

<div class="bg-others m-0">
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'img/logo2.png' %}" alt="">
        </div>
        <div class="text-center mt-4 name">Uromi JDPCI</div>
            <form class="p-3 mt-3"
                id="signup_form"
                method="post"
                action="{% url 'account_signup' %}">
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    {{ form.username|attr:"type:text"|attr:"placeholder:Username"|attr:"name:userName"|attr:"id:userName" }}
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-envelope"></span>
                    {{ form.email|attr:"type:email"|attr:"placeholder:Email"|attr:"name:email"|attr:"id:email" }}
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    {{ form.password1|attr:"type:password"|attr:"placeholder:Password"|attr:"name:password"|attr:"id:pwd" }}
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    {{ form.password2|attr:"type:password"|attr:"placeholder:Password Again"|attr:"name:password"|attr:"id:pwd" }}
                </div>
                {% csrf_token %}
                <button class="btn mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
            <div class="text-center fs-6">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
